.userPanel {
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .userPanel {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.greeting {
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #323f47;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .greeting {
    margin-bottom: 0;
    font-size: 36px;
  }
}
