.text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #323f47;
  padding-top: 16px;
  margin-bottom: 14px;
}

.box {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #323f47;
  }

  .box {
    flex-direction: row;
    gap: 10px;
  }
}
