.waterList {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  padding-bottom: 32px;
}
.waterList::-webkit-scrollbar {
  height: 8px;
  border-radius: 9px;
}

.waterList::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background-color: #323f47;
}

.waterList::-webkit-scrollbar-track {
  border-radius: 9px;
  background-color: #fff;
}
.empty {
  padding: 26px;
  margin: 0 auto;
  border-radius: 15px;
  background: #ffffff;
}

.empty > p {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #323f47;
}
