.wrapper {
  margin: 0 16px;
  border-radius: 30px;
  padding: 40px 20px;
  background-color: #f0eff4;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    padding: 32px;
    margin: 0 32px;
  }
}
