.advantages_main {
  background-image: url(../../assets/img/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 353px;
  border-radius: 30px;
  margin: 16px 16px 32px 16px;
  position: relative;
}
.advantages_users {
  display: inline-flex;
  margin-bottom: 8px;
  margin-left: 16px;
  margin-top: 209px;
  width: 160px;
  padding: 10px 14px;
  align-items: center;
  border-radius: 30px;
  background: white;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
}
.advantages_point {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: 2px solid white;
  overflow: hidden;
}
.user {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.advantages_usersImg {
  display: flex;
}
.advantages_point:nth-child(1) {
  z-index: 3;
  position: relative;
}
.advantages_point:nth-child(2) {
  z-index: 2;
  left: -10px;
  position: relative;
}
.advantages_point:nth-child(3) {
  z-index: 1;
  left: -20px;
  position: relative;
}
.advantagesText {
  color: #323f47;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.16;
  margin-left: -18px;
}
.textSpan {
  color: #9be1a0;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
}
.ellipse {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #9be1a0;
}
.advantages_habits {
  display: flex;
  padding: 9px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

*,
:before,
:after {
  box-sizing: border-box;
}

.advantages_habits:nth-child(2) {
  background: #9be1a0;
  width: 83px;
}
.advantages_habits:nth-child(1) {
  background: #323f47;
  width: 81px;
  gap: 4px;
}
.advantages_habits:nth-child(3) {
  background: white;
  width: 108px;
}

.habit_1 {
  color: white;
  text-align: center;
  font-size: 8px;
  font-weight: 700;
  line-height: 8px;
  letter-spacing: -0.08px;
}
.habit_2_3 {
  color: #323f47;
  text-align: center;
  font-size: 8px;
  font-weight: 700;
  line-height: 8px;
  letter-spacing: -0.08px;
}
.advantagesTabs {
  max-width: 168px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.advantagesGroup_habits {
  display: flex;
  justify-content: flex-end;
  margin-right: 16px;
}
@media screen and (min-width: 768px) {
  .advantages_main {
    height: 446px;
    margin: 16px 32px 32px 32px;
  }
  .advantages_users {
    display: inline-flex;
    margin-bottom: 0;
    margin-top: 283px;
    margin-left: 32px;
    width: 237px;
    padding: 10px 20px;
  }
  .advantages_point {
    height: 47px;
    width: 47px;
  }

  .advantagesText {
    font-size: 15px;
    line-height: 1.49;
  }
  span {
    font-size: 15px;
    line-height: 1.49;
  }
  .advantagesGroup_habits {
    position: absolute;
    right: 32px;
    bottom: 32px;
    margin-right: 32px;
  }
  .advantagesTabs {
    gap: 10px;
    max-width: 242px;
  }
  .advantages_habits {
    padding: 11px 16px;
  }
  .advantages_habits:nth-child(2) {
    width: 121px;
  }
  .advantages_habits:nth-child(1) {
    width: 111px;
    gap: 4px;
  }
  .advantages_habits:nth-child(3) {
    width: 158px;
  }
  .habit_1 {
    font-size: 12px;
    line-height: 1;
    letter-spacing: -0.12px;
  }
  .habit_2_3 {
    font-size: 12px;
    line-height: 1;
    letter-spacing: -0.12px;
  }
}

@media screen and (min-width: 1440px) {
  .advantages_main {
    margin: 32px 32px 32px 16px;
    min-width: 672px;
    height: calc(100vh - 60px);
  }
  .advantages_users {
    margin-top: 537px;
    margin-left: 32px;
  }
  .advantagesGroup_habits {
    bottom: 64px;
  }
}
