/* --------- Mobile styles --------- */

.logoFont {
  color: #323f47;
  font-weight: bold;
  font-size: 18px;
  padding-top: 24px;
  padding-left: 16px;
}

/* --------- Tablet styles --------- */

@media only screen and (min-width: 768px) {
  .logoFont {
    font-size: 24px;
    padding-top: 64px;
    padding-left: 64px;
  }
}
