.formContainer {
  padding: 126px 0 170px;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.01em;

  margin-bottom: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form > label {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: #2f2f2f;

  margin-bottom: 8px;
}

.form > input {
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  padding: 16px;

  margin-bottom: 16px;
}
.form > input:placeholder-shown {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.6);
}

.form > button {
  border-radius: 30px;
  padding: 16px 129px;
  background: #9be1a0;
  border: none;

  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;

  margin: 16px 0;
  transition: var(--animation);
}
.form > button:hover,
.form > button:focus {
  background: #87d28d;
}

.description {
  text-align: center;

  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.5);
}

.description > a {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #2f2f2f;
}
